*.class
*.log
*.iml
*.pid

# sbt specific
.bsp/
.sbt/
.ivy2/
.cache
.history
.lib/
builds/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ specific
.idea

#vim
*.swp

# Mac OS
.DS_Store
/doc/code/mxgraph-parse/.vscode/

# akka diagnostics
**/akka-diagnostics/*

# Metals
.metals/
.bloop/
.ammonite/
metals.sbt

# VS Code
.devcontainer
.vscode
vSCodeDockerfile
