<?xml version='1.0' encoding='UTF-8'?>
<configuration>
    <appender name='STDOUT' class='ch.qos.logback.core.ConsoleAppender'>
        <withJansi>true</withJansi>
        <encoder class='ch.qos.logback.core.encoder.LayoutWrappingEncoder'>
            <layout class='com.evernym.verity.observability.logs.DevLogLayoutWithColor' />
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name='FILE' class="ch.qos.logback.core.FileAppender">
        <withJansi>true</withJansi>
        <file>target/verity-unit-test.log</file>
        <encoder class='ch.qos.logback.core.encoder.LayoutWrappingEncoder'>
            <layout class='com.evernym.verity.observability.logs.DevLogLayout' />
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <turboFilter class='com.evernym.verity.observability.logs.IgnoreLoggerFilter'>
        <LoggerNameContains>DynamoDBClient, DynamoDBJournal</LoggerNameContains>
    </turboFilter>

    <turboFilter class='com.evernym.verity.observability.logs.PurposefulErrorsFilter'/>

</configuration>
