deployment:
  image: "177276529591.dkr.ecr.us-west-2.amazonaws.com/verity"
  tag: "latest"
  imagePullPolicy: "Always"
  containerPort: 9000
  vault:
    enable: true
k8sService:
  type: NodePort
  port: 80
  targetPort: 9000
# List of sponsors for Verity
sponsors:
# List configuration for for TAA.
taa:
# Custom and Adhoc Configuration for Verity in HOCON Notation
# Intended to allow quick injection of config that is
# not managed by this helm chart
customConfig: |
