<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">

    <!-- TODO: configure below properties as per need/environment -->
    <property name="logFileBaseFolderPath" value="/tmp" />
    <property name="rollingFileNamePrefix" value="${logFileBaseFolderPath}/verity" />
    <property name="appStateRollingFileNamePrefix" value="${logFileBaseFolderPath}/app-states" />
    <!-- configure above property as per need/environment -->

    <timestamp key="timestamp" datePattern="yyyy-MM-dd_HH:mm:ss" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.evernym.verity.observability.logs.LogLayout" />
        </encoder>
    </appender>

    <appender name="MSG-PACK-DATA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/msg-pack-data.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.evernym.verity.observability.logs.LogLayout" />
        </encoder>
    </appender>

    <appender name="ROLLING-GENERAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${rollingFileNamePrefix}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${rollingFileNamePrefix}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.evernym.verity.observability.logs.LogLayout" />
        </encoder>
    </appender>

    <appender name="ROLLING-APP-STATE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${appStateRollingFileNamePrefix}-${timestamp}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${appStateRollingFileNamePrefix}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.evernym.verity.observability.logs.LogLayout" />
        </encoder>
    </appender>

    <logger name="AppStateManager" level="DEBUG" additivity="false">
        <appender-ref ref="ROLLING-APP-STATE" />
        <appender-ref ref="ROLLING-GENERAL" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="MsgPackData" level="DEBUG" additivity="false">
        <appender-ref ref="MSG-PACK-DATA" />
    </logger>

    <root level="INFO">
        <appender-ref ref="ROLLING-GENERAL" />
        <appender-ref ref="STDOUT" />
    </root>

    <turboFilter class="com.evernym.verity.observability.logs.IgnoreLoggerFilter">
        <LoggerNameContains>DynamoDBClient, DynamoDBJournal</LoggerNameContains>
    </turboFilter>

</configuration>
